Repository BinaryStudioAcademy/bsa-2024-outreachvids, pull requests merged in 2024-09, with the labels that each got.

#121 OV-20: add cors
  backend/.env.example
  backend/package.json
  backend/src/common/config/base-config.package.ts
  backend/src/common/config/types/environment-schema.type.ts
  backend/src/common/server-application/base-server-app.ts
  package-lock.json
Labels: BE

#111 OV-100: Update HttpMethod usage
  backend/src/bundles/auth/auth.controller.ts
  backend/src/bundles/users/user.controller.ts
  backend/src/bundles/videos/video.controller.ts
  backend/src/common/constants/white-routes.constants.ts
  backend/src/common/plugins/auth/types/route.type.ts
  frontend/src/bundles/auth/auth-api.ts
  frontend/src/bundles/users/users-api.ts
  frontend/src/framework/http/enums/enums.ts
  frontend/src/framework/http/http.ts
  frontend/src/framework/http/types/types.ts
  shared/src/framework/http/enums/http-method.enum.ts
  shared/src/framework/http/types/http-method.type.ts
Labels: BE, FE

#103 OV-101: Add video items menu to studio page
  frontend/src/bundles/studio/components/video-menu/components/components.ts
  frontend/src/bundles/studio/components/video-menu/components/menu-body/menu-body.tsx
  frontend/src/bundles/studio/components/video-menu/components/menu/menu.tsx
  frontend/src/bundles/studio/components/video-menu/components/mock/menu-mock.tsx
  frontend/src/bundles/studio/components/video-menu/types/menu-item.type.ts
  frontend/src/bundles/studio/components/video-menu/types/types.ts
  frontend/src/bundles/studio/components/video-menu/video-menu.tsx
  frontend/src/bundles/studio/pages/studio.tsx
Labels: FE

#109 OV-108: fix header
  frontend/src/bundles/common/components/header/header.tsx
Labels: FE

#96 OV-95: Update white routes
  backend/src/common/constants/white-routes.constants.ts
  backend/src/common/plugins/auth/types/route.type.ts
  backend/src/common/plugins/auth/utils/check-white-routes.util.ts
Labels: BE

#49 OV-13: Add-side-bar-component
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/sidebar/components/components.ts
  frontend/src/bundles/common/components/sidebar/components/sidebar-item/sidebar-item.tsx
  frontend/src/bundles/common/components/sidebar/sidebar.tsx
  frontend/src/bundles/common/enums/app-route.enum.ts
  frontend/src/bundles/common/hooks/hooks.ts
  frontend/src/bundles/common/icons/helper/icon-conversion.helper.ts
  frontend/src/bundles/common/icons/helper/icon-converter.helper.ts
  frontend/src/bundles/common/icons/icon-name.ts
  frontend/src/bundles/my-avatar/components/circles/circles.tsx
  frontend/src/bundles/my-avatar/components/components.ts
  frontend/src/bundles/my-avatar/components/create-avatar/create-avatar.tsx
  frontend/src/bundles/my-avatar/components/dots/constants/constants.ts
  frontend/src/bundles/my-avatar/components/dots/dots.tsx
  frontend/src/bundles/my-avatar/pages/my-avatar.tsx
  frontend/src/bundles/studio/components/video-menu/video-menu.tsx
  frontend/src/bundles/users/components/components.ts
  frontend/src/bundles/users/components/user-card/components/user-avatar.tsx
  frontend/src/bundles/users/components/user-card/user-card.tsx
  frontend/src/framework/theme/styles/components.styles.ts
  frontend/src/router/routes/protected-routes.tsx
Labels: FE

#131 OV-128: Handle-logout
  frontend/src/bundles/auth/store/actions.ts
  frontend/src/bundles/auth/store/auth.ts
  frontend/src/bundles/auth/store/slice.ts
  frontend/src/bundles/common/components/sidebar/sidebar.tsx
Labels: FE

#150 OV-141: Update HttpMethods to use enum insted of plain string
  backend/src/bundles/users/user.controller.ts
  backend/src/common/constants/white-routes.constants.ts
Labels: BE, FE

#160 OV-159: Add static path white route
  backend/src/common/constants/white-routes.constants.ts
  backend/src/common/plugins/auth/auth-jwt.plugin.ts
  backend/src/common/plugins/auth/constants/constants.ts
  backend/src/common/plugins/auth/constants/served-page-path.constant.ts
Labels: BUG, BE

#112 OV-104: Add scripts menu
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/icons/icon-name.ts
  frontend/src/bundles/studio/components/video-menu/components/menu-body/menu-body.tsx
  frontend/src/bundles/studio/components/video-menu/components/menu-body/styles.module.css
  frontend/src/bundles/studio/components/video-menu/components/menu-content/avatars-content/avatars-content.tsx
  frontend/src/bundles/studio/components/video-menu/components/menu-content/content.ts
  frontend/src/bundles/studio/components/video-menu/components/menu-content/script-content/components/components.ts
  frontend/src/bundles/studio/components/video-menu/components/menu-content/script-content/components/script.tsx
  frontend/src/bundles/studio/components/video-menu/components/menu-content/script-content/constants/constants.ts
  frontend/src/bundles/studio/components/video-menu/components/menu-content/script-content/script-content.tsx
  frontend/src/bundles/studio/components/video-menu/components/mock/menu-mock.tsx
  frontend/src/bundles/studio/components/video-menu/types/active-item.type.ts
  frontend/src/bundles/studio/components/video-menu/types/types.ts
  frontend/src/bundles/studio/components/video-menu/video-menu.tsx
  frontend/src/bundles/studio/store/slice.ts
  frontend/src/bundles/studio/store/studio.ts
  frontend/src/bundles/studio/types/studio.type.ts
  frontend/src/bundles/studio/types/types.ts
  frontend/src/framework/store/store.package.ts
  frontend/src/framework/theme/styles/components.styles.ts
Labels: FE

#64 OV-31: add timeline component
  frontend/package.json
  frontend/src/bundles/common/hooks/hooks.ts
  frontend/src/bundles/studio/components/timeline/components.ts
  frontend/src/bundles/studio/components/timeline/item/item.tsx
  frontend/src/bundles/studio/components/timeline/row/row.tsx
  frontend/src/bundles/studio/components/timeline/subrow/subrow.tsx
  frontend/src/bundles/studio/components/timeline/timeaxis/timeaxis.tsx
  frontend/src/bundles/studio/components/timeline/timecursor/timecursor.tsx
  frontend/src/bundles/studio/components/timeline/timeline-view/timeline-view.tsx
  frontend/src/bundles/studio/components/timeline/timeline.tsx
  frontend/src/bundles/studio/helpers/time-axis-markers.ts
  frontend/src/bundles/studio/mocks/mock.helper.ts
  frontend/src/framework/theme/styles/css-modules/timeline.module.css
  package-lock.json
Labels: FE

#118 OV-105: add avatars endpoint
  backend/src/bundles/avatars/avatar.controller.ts
  backend/src/bundles/avatars/avatar.service.ts
  backend/src/bundles/avatars/avatars.ts
  backend/src/bundles/avatars/config/avatar.config.json
  backend/src/bundles/avatars/config/config.ts
  backend/src/bundles/avatars/enums/enums.ts
  backend/src/bundles/avatars/types/types.ts
  backend/src/common/database/enums/database-table-name.enum.ts
  backend/src/common/server-application/server-application.ts
  shared/src/bundles/avatars/avatars.ts
  shared/src/bundles/avatars/enums/avatar-validation-message.enum.ts
  shared/src/bundles/avatars/enums/avatars-api-path.enum.ts
  shared/src/bundles/avatars/enums/enums.ts
  shared/src/bundles/avatars/types/avatar-get-all-response-dto.type.ts
  shared/src/bundles/avatars/types/avatar-get-one-request-dto.type.ts
  shared/src/bundles/avatars/types/avatar-get-response-dto.type.ts
  shared/src/bundles/avatars/types/types.ts
  shared/src/enums/api-path.enum.ts
  shared/src/index.ts
Labels: BE

#137 OV-110: add timeline component to studio page
  frontend/src/bundles/studio/pages/studio.tsx
  frontend/src/bundles/studio/pages/styles.module.css
Labels: FE

#158 OV-154: Change time starting point in timeline component
  frontend/src/bundles/studio/components/timeline/timeaxis/timeaxis.tsx
  frontend/src/bundles/studio/helpers/time-axis-markers.ts
  frontend/src/bundles/studio/mocks/mock.helper.ts
  frontend/src/bundles/studio/pages/studio.tsx
Labels: FE

#83 OV-75: add sidebar and header to home page
  frontend/src/bundles/common/components/header/header.tsx
  frontend/src/bundles/home/components/main-content/main-content.tsx
  frontend/src/bundles/home/pages/home.tsx
Labels: FE

#107 OV-99: update loader
  frontend/src/bundles/common/components/overlay/overlay.tsx
  frontend/src/bundles/common/components/overlay/styles.module.css
Labels: FE

#132 OV-125: add player controllers
  frontend/package.json
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/components/tab/tab.tsx
  frontend/src/bundles/common/icons/enums/enums.ts
  frontend/src/bundles/common/icons/enums/icon-size.enum.ts
  frontend/src/bundles/common/icons/helper/icon-conversion.helper.ts
  frontend/src/bundles/common/icons/icon-name.ts
  frontend/src/bundles/common/icons/icons.ts
  frontend/src/bundles/common/icons/types/icon-size.type.ts
  frontend/src/bundles/common/icons/types/types.ts
  frontend/src/bundles/studio/components/player-controls/components/components.ts
  frontend/src/bundles/studio/components/player-controls/components/control/control.tsx
  frontend/src/bundles/studio/components/player-controls/components/time-display/time-display.tsx
  frontend/src/bundles/studio/components/player-controls/player-controls.tsx
  frontend/src/framework/theme/styles/components.styles.ts
  package-lock.json
Labels: FE

#146 OV-113: Add avatar and script row to timeline
  frontend/src/bundles/common/hooks/hooks.ts
  frontend/src/bundles/studio/components/timeline/components.ts
  frontend/src/bundles/studio/components/timeline/item/item.tsx
  frontend/src/bundles/studio/components/timeline/row/row.tsx
  frontend/src/bundles/studio/components/timeline/rows/avatars-row.tsx
  frontend/src/bundles/studio/components/timeline/rows/row.tsx
  frontend/src/bundles/studio/components/timeline/rows/rows.ts
  frontend/src/bundles/studio/components/timeline/rows/scripts-row.tsx
  frontend/src/bundles/studio/components/timeline/subrow/subrow.tsx
  frontend/src/bundles/studio/components/timeline/timeaxis/timeaxis.tsx
  frontend/src/bundles/studio/components/timeline/timecursor/timecursor.tsx
  frontend/src/bundles/studio/components/timeline/timeline-view/timeline-view.tsx
  frontend/src/bundles/studio/components/timeline/timeline.tsx
  frontend/src/bundles/studio/enums/enums.ts
  frontend/src/bundles/studio/enums/row-names.enum.ts
  frontend/src/bundles/studio/helpers/get-destination-pointer-value.ts
  frontend/src/bundles/studio/helpers/get-new-item-index.ts
  frontend/src/bundles/studio/helpers/helpers.ts
  frontend/src/bundles/studio/helpers/reorder-items.ts
  frontend/src/bundles/studio/helpers/set-items-span.ts
  frontend/src/bundles/studio/mocks/mock.helper.ts
  frontend/src/bundles/studio/pages/studio.tsx
  frontend/src/bundles/studio/pages/styles.module.css
  frontend/src/bundles/studio/types/destination-pointer.type.ts
  frontend/src/bundles/studio/types/row-type.type.ts
  frontend/src/bundles/studio/types/timeline-item.type.ts
  frontend/src/bundles/studio/types/timeline-rows.type.ts
  frontend/src/bundles/studio/types/types.ts
  frontend/src/framework/theme/styles/css-modules/timeline.module.css
Labels: FE

#171 OV-170: Add Swagger base URL and bearer auth
  backend/src/bundles/chat/chat.controller.ts
  backend/src/bundles/users/user.controller.ts
  backend/src/bundles/videos/video.controller.ts
  backend/src/common/server-application/base-server-app-api.ts
Labels: BE

#156 OV-153: Show avatars in video menu
  backend/src/bundles/avatars/config/avatar.config.json
  backend/src/bundles/avatars/config/config.ts
  frontend/src/app/app.tsx
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/studio/avatars-api.ts
  frontend/src/bundles/studio/components/video-menu/components/menu-content/avatars-content/avatars-content.tsx
  frontend/src/bundles/studio/components/video-menu/components/menu-content/avatars-content/components/avatar-card.tsx
  frontend/src/bundles/studio/components/video-menu/components/menu-content/script-content/components/script.tsx
  frontend/src/bundles/studio/components/video-menu/components/menu-content/script-content/script-content.tsx
  frontend/src/bundles/studio/enums/enums.ts
  frontend/src/bundles/studio/store/actions.ts
  frontend/src/bundles/studio/store/slice.ts
  frontend/src/bundles/studio/store/studio.ts
  frontend/src/bundles/studio/studio.ts
  frontend/src/bundles/studio/types/avatar.type.ts
  frontend/src/bundles/studio/types/script.type.ts
  frontend/src/bundles/studio/types/types.ts
  frontend/src/framework/store/store.package.ts
Labels: FE

#175 OV-174: Fix AWS build error
  backend/src/bundles/avatars/config/config.ts
Labels: BE

#155 OV-122: add player to studio page
  frontend/src/bundles/common/components/player/constants/aspect-ratio-landscape.constant.ts
  frontend/src/bundles/common/components/player/constants/aspect-ratio-portrait.constant.ts
  frontend/src/bundles/common/components/player/constants/constants.ts
  frontend/src/bundles/common/components/player/player.tsx
  frontend/src/bundles/common/components/player/styles/landscape.style.ts
  frontend/src/bundles/common/components/player/styles/portrait.style.ts
  frontend/src/bundles/common/components/player/styles/styles.ts
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/components/video-preview/libs/enums/enums.ts
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/components/video-preview/libs/types/types.ts
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/components/video-preview/video-preview.tsx
  frontend/src/bundles/common/enums/enums.ts
  frontend/src/bundles/common/enums/video-preview.enum.ts
  frontend/src/bundles/common/types/types.ts
  frontend/src/bundles/common/types/video-preview.type.ts
  frontend/src/bundles/studio/components/components.ts
  frontend/src/bundles/studio/components/video/styles.module.css
  frontend/src/bundles/studio/components/video/video.tsx
  frontend/src/bundles/studio/pages/studio.tsx
Labels: FE

#161 OV-157: add resize logic
  frontend/src/bundles/common/components/button/button.tsx
  frontend/src/bundles/common/components/player/player.tsx
  frontend/src/bundles/studio/components/video-menu/components/menu-body/styles.module.css
  frontend/src/bundles/studio/pages/studio.tsx
  frontend/src/bundles/studio/store/slice.ts
Labels: FE

#183 OV-182: Fix crypto error
  frontend/src/bundles/studio/mocks/mock.helper.ts
  frontend/src/bundles/studio/store/slice.ts
  package-lock.json
  package.json
Labels: BUG

#119 OV-114: Update-protected-route
  frontend/src/app/app.tsx
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/protected-route/protected-route.tsx
  frontend/src/framework/http-api/base-http-api.package.ts
  frontend/src/index.tsx
  frontend/src/router/components/protected-route.tsx
  frontend/src/router/routes.tsx
  frontend/src/router/routes/protected-routes.tsx
  frontend/src/router/routes/public-routes.tsx
  frontend/src/routes/routes.tsx
Labels: FE

#134 OV-133: Add-user-name
  frontend/src/bundles/common/components/sidebar/sidebar.tsx
  frontend/src/bundles/users/components/user-card/components/user-avatar.tsx
  frontend/src/bundles/users/components/user-card/helpers/get-initials.helper.ts
  frontend/src/bundles/users/components/user-card/helpers/helpers.ts
  frontend/src/bundles/users/components/user-card/user-card.tsx
Labels: FE

#200 OV-165: Add avatars to timeline
  frontend/src/bundles/common/hooks/hooks.ts
  frontend/src/bundles/studio/components/timeline/components.ts
  frontend/src/bundles/studio/components/timeline/item/item.tsx
  frontend/src/bundles/studio/components/timeline/rows/avatars-row.tsx
  frontend/src/bundles/studio/components/timeline/rows/row.tsx
  frontend/src/bundles/studio/components/timeline/rows/rows.ts
  frontend/src/bundles/studio/components/timeline/rows/scenes-row.tsx
  frontend/src/bundles/studio/components/timeline/rows/scripts-row.tsx
  frontend/src/bundles/studio/components/timeline/timeaxis/timeaxis.tsx
  frontend/src/bundles/studio/components/timeline/timecursor/timecursor.tsx
  frontend/src/bundles/studio/components/timeline/timeline-view/timeline-view.tsx
  frontend/src/bundles/studio/components/timeline/timeline.tsx
  frontend/src/bundles/studio/components/video-menu/components/menu-content/avatars-content/avatars-content.tsx
  frontend/src/bundles/studio/components/video-menu/components/menu-content/avatars-content/components/avatar-card.tsx
  frontend/src/bundles/studio/components/video-menu/components/menu-content/script-content/script-content.tsx
  frontend/src/bundles/studio/constants/constants.ts
  frontend/src/bundles/studio/enums/row-names.enum.ts
  frontend/src/bundles/studio/helpers/get-new-item-index.ts
  frontend/src/bundles/studio/helpers/reorder-items.ts
  frontend/src/bundles/studio/helpers/set-items-span.ts
  frontend/src/bundles/studio/hooks/hooks.ts
  frontend/src/bundles/studio/mocks/mock.helper.ts
  frontend/src/bundles/studio/pages/studio.tsx
  frontend/src/bundles/studio/store/slice.ts
  frontend/src/bundles/studio/types/scene.type.ts
  frontend/src/bundles/studio/types/script.type.ts
  frontend/src/bundles/studio/types/timeline-rows.type.ts
  frontend/src/bundles/studio/types/types.ts
  frontend/src/framework/theme/styles/css-modules/timeline.module.css
Labels: FE

#186 OV-138: Add script to timeline component
  frontend/src/bundles/studio/components/timeline/rows/scripts-row.tsx
  frontend/src/bundles/studio/components/timeline/timeline-view/timeline-view.tsx
  frontend/src/bundles/studio/components/timeline/timeline.tsx
  frontend/src/bundles/studio/mocks/mock.helper.ts
  frontend/src/bundles/studio/pages/studio.tsx
  frontend/src/bundles/studio/store/slice.ts
Labels: FE

#195 OV-179: add http api
  backend/src/common/http/base-http-api.ts
  backend/src/common/http/base-http.ts
  backend/src/common/http/enums/enums.ts
  backend/src/common/http/helpers/helpers.ts
  backend/src/common/http/http.ts
  backend/src/common/http/types/custom-headers.type.ts
  backend/src/common/http/types/http-api-options.type.ts
  backend/src/common/http/types/http-api-response.type.ts
  backend/src/common/http/types/http-api.type.ts
  backend/src/common/http/types/types.ts
  shared/src/framework/http/enums/http-header.enum.ts
Labels: BE

#185 OV-172: Add azure integration for voices and text to speech
  backend/.env.example
  backend/package.json
  backend/src/bundles/speech/enums/enums.ts
  backend/src/bundles/speech/speech.controller.ts
  backend/src/bundles/speech/speech.service.ts
  backend/src/bundles/speech/speech.ts
  backend/src/bundles/speech/types/types.ts
  backend/src/bundles/speech/validation-schemas/validation-schemas.ts
  backend/src/common/config/base-config.package.ts
  backend/src/common/config/types/environment-schema.type.ts
  backend/src/common/http/enums/enums.ts
  backend/src/common/http/http.ts
  backend/src/common/server-application/server-application.ts
  backend/src/common/services/azure-ai/apis/apis.ts
  backend/src/common/services/azure-ai/apis/text-to-speech/text-to-speech-api.ts
  backend/src/common/services/azure-ai/apis/text-to-speech/text-to-speech.ts
  backend/src/common/services/azure-ai/azure-ai.service.ts
  backend/src/common/services/azure-ai/constants/constants.ts
  backend/src/common/services/azure-ai/enums/enums.ts
  backend/src/common/services/azure-ai/enums/text-to-speech-api-path.enum.ts
  backend/src/common/services/azure-ai/types/azure-get-voices-response-dto.type.ts
  backend/src/common/services/azure-ai/types/types.ts
  backend/src/common/services/services.ts
  package-lock.json
  shared/src/bundles/speech/enums/enums.ts
  shared/src/bundles/speech/enums/speech-api-path.enum.ts
  shared/src/bundles/speech/enums/speech-validation-message.enum.ts
  shared/src/bundles/speech/speech.ts
  shared/src/bundles/speech/types/generate-speech-request-dto.type.ts
  shared/src/bundles/speech/types/generate-speech-response-dto.type.ts
  shared/src/bundles/speech/types/get-voices-response-dto.type.ts
  shared/src/bundles/speech/types/types.ts
  shared/src/bundles/speech/types/voice.type.ts
  shared/src/bundles/speech/validation-schemas/generate-speech.validation-schema.ts
  shared/src/bundles/speech/validation-schemas/validation-schemas.ts
  shared/src/enums/api-path.enum.ts
  shared/src/index.ts
Labels: BE

#143 OV-139: Open modal video on create video click
  frontend/src/bundles/users/components/user-card/user-card.tsx
Labels: FE

#209 OV-180: + set lower priority to chakra styles
  frontend/src/bundles/common/components/components-provider/components-provider.tsx
  frontend/src/bundles/common/components/components.ts
  frontend/src/index.tsx
Labels: FE

#214 OV-207: Redirect to home page on logo click
  frontend/src/bundles/common/components/header/header.tsx
Labels: FE

#193 OV-189: Add loader to auth page
  frontend/src/bundles/auth/pages/auth.tsx
Labels: FE

#197 OV-194: Fix styling studio page
  frontend/src/bundles/common/components/player/styles/landscape.style.ts
  frontend/src/bundles/common/components/player/styles/portrait.style.ts
  frontend/src/bundles/studio/components/video-menu/components/menu/menu.tsx
  frontend/src/bundles/studio/pages/studio.tsx
  frontend/src/bundles/studio/pages/styles.module.css
  frontend/src/routes/routes.tsx
Labels: BUG, FE

#229 OV-220: Wrap loader in overlay
  frontend/src/bundles/common/components/protected-route/protected-route.tsx
Labels: FE

#223 OV-202: Add play button to scripts
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/icons/helper/icon-conversion.helper.ts
  frontend/src/bundles/common/icons/icon-name.ts
  frontend/src/bundles/studio/components/audio-player/audio-player.tsx
  frontend/src/bundles/studio/components/audio-player/constants/constants.ts
  frontend/src/bundles/studio/components/audio-player/enums/audio-event.ts
  frontend/src/bundles/studio/components/audio-player/enums/enums.ts
  frontend/src/bundles/studio/components/video-menu/components/menu-content/script-content/components/script.tsx
  frontend/src/bundles/studio/pages/studio.tsx
  frontend/src/bundles/studio/store/slice.ts
Labels: FE

#58 OV-44: Add Not found page
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/not-found-animation/constants/constants.ts
  frontend/src/bundles/common/components/not-found-animation/not-found-animation.tsx
  frontend/src/bundles/common/pages/not-found/not-found.tsx
  frontend/src/routes/routes.tsx
Labels: FE

#191 OV-187: Fix sign in redirection after logout
  frontend/src/app/app.tsx
  frontend/src/bundles/auth/pages/auth.tsx
  frontend/src/bundles/common/components/protected-route/protected-route.tsx
Labels: FE

#227 OV-216: Change overlay background color to blue
  frontend/src/bundles/common/components/overlay/overlay.tsx
Labels: FE

#224 OV-219: Open studio page
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/components/video-preview/video-preview.tsx
  frontend/src/bundles/studio/store/slice.ts
Labels: FE

#136 OV-135: Convert-fa-icons
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/components/generate-script-placeholder/generate-script-placeholder.tsx
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/components/video-preview/video-preview.tsx
  frontend/src/bundles/common/icons/helper/icon-conversion.helper.ts
  frontend/src/bundles/common/icons/icon-name.ts
  frontend/src/bundles/home/components/video-card/video-card.tsx
  frontend/src/bundles/studio/components/video-menu/video-menu.tsx
Labels: FE

#192 OV-162: Play button control cursor
  frontend/src/bundles/common/components/upload-video/components/video-player/components/control/control.tsx
  frontend/src/bundles/common/components/upload-video/components/video-player/components/control/libs/hooks/hooks.ts
  frontend/src/bundles/common/hooks/hooks.ts
  frontend/src/bundles/common/hooks/use-animation-frame/use-animation-frame.ts
  frontend/src/bundles/common/hooks/use-app-selector/use-app-selector.hook.ts
  frontend/src/bundles/common/types/root-state.type.ts
  frontend/src/bundles/common/types/types.ts
  frontend/src/bundles/studio/components/player-controls/components/time-display/time-display.tsx
  frontend/src/bundles/studio/components/player-controls/player-controls.tsx
  frontend/src/bundles/studio/components/timeline/timecursor/timecursor.tsx
  frontend/src/bundles/studio/store/selectors.ts
  frontend/src/bundles/studio/store/slice.ts
Labels: FE

#255 OV-244: Add logic for prev next scene controls
  frontend/src/bundles/studio/components/player-controls/player-controls.tsx
  frontend/src/bundles/studio/components/timeline/timecursor/timecursor.tsx
  frontend/src/bundles/studio/constants/constants.ts
Labels: FE

#239 OV-198: Add items on timeline buttons
  frontend/src/bundles/studio/components/components.ts
  frontend/src/bundles/studio/components/control/control.tsx
  frontend/src/bundles/studio/components/player-controls/components/components.ts
  frontend/src/bundles/studio/components/player-controls/player-controls.tsx
  frontend/src/bundles/studio/components/timeline/rows/scenes-row.tsx
  frontend/src/bundles/studio/components/timeline/rows/scripts-row.tsx
  frontend/src/bundles/studio/helpers/get-element-end.ts
  frontend/src/bundles/studio/helpers/helpers.ts
  frontend/src/framework/theme/styles/components.styles.ts
Labels: FE

#236 OV-230: Replace mocked script audio with text-to-speech
  backend/src/bundles/speech/speech.controller.ts
  backend/src/common/services/azure-ai/azure-ai.service.ts
  frontend/src/bundles/studio/components/audio-player/audio-player.tsx
  frontend/src/bundles/studio/components/video-menu/components/menu-content/avatars-content/avatars-content.tsx
  frontend/src/bundles/studio/components/video-menu/components/menu-content/script-content/components/script.tsx
  frontend/src/bundles/studio/enums/enums.ts
  frontend/src/bundles/studio/enums/play-icon-names.enum.ts
  frontend/src/bundles/studio/speech-api.ts
  frontend/src/bundles/studio/store/actions.ts
  frontend/src/bundles/studio/store/slice.ts
  frontend/src/bundles/studio/store/studio.ts
  frontend/src/bundles/studio/studio.ts
  frontend/src/bundles/studio/types/script.type.ts
  frontend/src/bundles/studio/types/types.ts
  frontend/src/framework/store/store.package.ts
  shared/src/bundles/speech/enums/speech-validation-message.enum.ts
  shared/src/bundles/speech/types/generate-speech-request-dto.type.ts
  shared/src/bundles/speech/types/generate-speech-response-dto.type.ts
  shared/src/bundles/speech/validation-schemas/generate-speech.validation-schema.ts
Labels: FE

#218 OV-206: Change download button to submit button on studio
  frontend/src/bundles/studio/pages/studio.tsx
Labels: FE

#243 OV-73: Fix video modal icon size
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/components/tab/tab.tsx
Labels: BUG

#241 OV-215: Adjust Email As Case Insensitive In Auth
  backend/src/bundles/users/user.service.ts
Labels: BUG, BE, FE

#253 OV-250: Add download button for video
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/home/components/video-card/styles.module.css
  frontend/src/bundles/home/components/video-card/video-card.tsx
Labels: FE

#225 OV-166: Add AI icon to script menu
  frontend/src/bundles/common/icons/custom-icons/custom-icons.ts
  frontend/src/bundles/common/icons/custom-icons/open-ai.tsx
  frontend/src/bundles/common/icons/icon-name.ts
  frontend/src/bundles/studio/components/video-menu/components/menu-body/menu-body.tsx
  frontend/src/bundles/studio/components/video-menu/video-menu.tsx
Labels: FE

#251 OV-234: add player logic
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/player/constants/constants.ts
  frontend/src/bundles/common/components/player/constants/min-duration-in-frames.ts
  frontend/src/bundles/common/components/player/player.tsx
  frontend/src/bundles/studio/components/player-controls/player-controls.tsx
  frontend/src/bundles/studio/components/timeline/timecursor/timecursor.tsx
  frontend/src/bundles/studio/components/timeline/timeline-view/timeline-view.tsx
  frontend/src/bundles/studio/components/timeline/timeline.tsx
  frontend/src/bundles/studio/components/video/styles.module.css
  frontend/src/bundles/studio/components/video/video.tsx
  frontend/src/bundles/studio/pages/studio.tsx
Labels: FE

#199 OV-196: add avatar video api
  backend/.env.example
  backend/src/common/config/base-config.package.ts
  backend/src/common/config/types/environment-schema.type.ts
  backend/src/common/http/http.ts
  backend/src/common/services/azure-ai/apis/apis.ts
  backend/src/common/services/azure-ai/avatar-video/avatar-video-base.ts
  backend/src/common/services/azure-ai/avatar-video/avatar-video.ts
  backend/src/common/services/azure-ai/avatar-video/constants/api-version.constant.ts
  backend/src/common/services/azure-ai/avatar-video/constants/constants.ts
  backend/src/common/services/azure-ai/avatar-video/enums/avatar-api-path.ts
  backend/src/common/services/azure-ai/avatar-video/enums/enums.ts
  backend/src/common/services/azure-ai/avatar-video/types/render-avatar-video-arguments.type.ts
  backend/src/common/services/azure-ai/avatar-video/types/types.ts
  backend/src/common/services/azure-ai/azure-ai.service.ts
  backend/src/common/services/azure-ai/text-to-speech/text-to-speech-base.ts
  backend/src/common/services/azure-ai/text-to-speech/text-to-speech.ts
  backend/src/common/services/azure-ai/types/avatar-config.type.ts
  backend/src/common/services/azure-ai/types/get-avatar-video-request-dto.type.ts
  backend/src/common/services/azure-ai/types/get-avatar-video-response-dto.type.ts
  backend/src/common/services/azure-ai/types/input-kind.type.ts
  backend/src/common/services/azure-ai/types/render-avatar-video-request-dto.type.ts
  backend/src/common/services/azure-ai/types/render-avatar-video-response-dto.type.ts
  backend/src/common/services/azure-ai/types/types.ts
  backend/src/common/services/services.ts
  shared/src/bundles/avatar-video/avatar-video.ts
  shared/src/bundles/avatar-video/types/types.ts
  shared/src/bundles/avatar-video/types/video-codec.type.ts
  shared/src/bundles/avatar-video/types/video-format.type.ts
  shared/src/enums/api-path.enum.ts
  shared/src/index.ts
Labels: BE

#231 OV-173: add azure avatar integration
  backend/src/bundles/avatar-videos/avatar-videos.controller.ts
  backend/src/bundles/avatar-videos/avatar-videos.service.ts
  backend/src/bundles/avatar-videos/avatar-videos.ts
  backend/src/bundles/avatar-videos/constants/constnats.ts
  backend/src/bundles/avatar-videos/constants/request-delay.constant.ts
  backend/src/bundles/avatar-videos/enums/enums.ts
  backend/src/bundles/avatar-videos/enums/generate-avatar-response-status.enum.ts
  backend/src/bundles/avatar-videos/enums/render-video-error-message.enum.ts
  backend/src/bundles/avatar-videos/helpers/get-file-name.helper.ts
  backend/src/bundles/avatar-videos/helpers/helpers.ts
  backend/src/bundles/avatar-videos/types/types.ts
  backend/src/bundles/avatar-videos/validation-schemas/validation-schemas.ts
  backend/src/bundles/videos/videos.ts
  backend/src/common/server-application/server-application.ts
  backend/src/common/services/azure-ai/avatar-video/avatar-video-base.ts
  backend/src/common/services/azure-ai/avatar-video/avatar-video.ts
  backend/src/common/services/azure-ai/avatar-video/types/get-avatar-video-api-dto.type.ts
  backend/src/common/services/azure-ai/avatar-video/types/render-avatar-video-api-argument.type.ts
  backend/src/common/services/azure-ai/avatar-video/types/render-avatar-video-api-request-dto.type.ts
  backend/src/common/services/azure-ai/avatar-video/types/render-avatar-video-api-response-dto.type.ts
  backend/src/common/services/azure-ai/avatar-video/types/render-avatar-video-arguments.type.ts
  backend/src/common/services/azure-ai/avatar-video/types/types.ts
  backend/src/common/services/azure-ai/azure-ai.service.ts
  backend/src/common/services/azure-ai/constants/avatar-background-color.constant.ts
  backend/src/common/services/azure-ai/constants/avatar-input-kind.constant.ts
  backend/src/common/services/azure-ai/constants/avatar-subtitle-type.constant.ts
  backend/src/common/services/azure-ai/constants/avatar-video-codec.constant.ts
  backend/src/common/services/azure-ai/constants/avatar-video-format.constant.ts
  backend/src/common/services/azure-ai/constants/constants.ts
  backend/src/common/services/azure-ai/constants/default-language.constant.ts
  backend/src/common/services/azure-ai/helpers/get-avatar-config.ts
  backend/src/common/services/azure-ai/helpers/helpers.ts
  backend/src/common/services/azure-ai/types/get-avatar-video-request-dto.type.ts
  backend/src/common/services/azure-ai/types/render-avatar-video-request-dto.type.ts
  backend/src/common/services/azure-ai/types/types.ts
  backend/src/common/services/services.ts
  shared/src/bundles/avatar-video/avatar-video.ts
  shared/src/bundles/avatar-video/types/types.ts
  shared/src/bundles/avatar-videos/avatar-videos.ts
  shared/src/bundles/avatar-videos/enum/avatar-video-validation-message.enum.ts
  shared/src/bundles/avatar-videos/enum/avatar-videos-api-path.enum.ts
  shared/src/bundles/avatar-videos/enum/enums.ts
  shared/src/bundles/avatar-videos/types/avatar-config.type.ts
  shared/src/bundles/avatar-videos/types/input-kind.type.ts
  shared/src/bundles/avatar-videos/types/render-avatar-request-dto.type.ts
  shared/src/bundles/avatar-videos/types/render-avatar-response-dto.type.ts
  shared/src/bundles/avatar-videos/types/types.ts
  shared/src/bundles/avatar-videos/types/video-codec.type.ts
  shared/src/bundles/avatar-videos/types/video-format.type.ts
  shared/src/bundles/avatar-videos/validation-schemas/render-avatar-video.validation-schema.ts
  shared/src/bundles/avatar-videos/validation-schemas/validation-schemas.ts
  shared/src/enums/api-path.enum.ts
  shared/src/index.ts
Labels: BE

#178 OV-164: Remove sx prop
  frontend/src/bundles/auth/components/common/form-header/form-header.tsx
  frontend/src/bundles/auth/components/common/form-header/styles.module.css
  frontend/src/bundles/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/bundles/common/components/button/button.tsx
  frontend/src/bundles/common/components/header/header.tsx
  frontend/src/bundles/common/components/header/styles.module.css
  frontend/src/bundles/common/components/sidebar/components/sidebar-item/sidebar-item.tsx
  frontend/src/bundles/common/components/sidebar/sidebar.tsx
  frontend/src/bundles/common/components/sidebar/styles.module.css
  frontend/src/bundles/common/components/textarea/textarea.tsx
  frontend/src/bundles/common/components/upload-video/components/checkbox-form/checkbox-form.tsx
  frontend/src/bundles/common/components/upload-video/upload-video.tsx
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/components/generate-script-form/generate-script-form.tsx
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/components/generate-script-form/styles.module.css
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/components/generate-script-placeholder/generate-script-placeholder.tsx
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/components/generate-script-placeholder/styles.module.css
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/components/generate-script-view/generate-script-view.tsx
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/components/generate-script-view/styles.module.css
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/components/video-preview/styles.module.css
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/components/video-preview/video-preview.tsx
  frontend/src/bundles/studio/components/timeline/item/item.tsx
  frontend/src/bundles/studio/components/timeline/item/styles.module.css
  frontend/src/bundles/studio/components/timeline/rows/row.tsx
  frontend/src/bundles/studio/components/timeline/rows/scenes-row.tsx
  frontend/src/bundles/studio/components/timeline/rows/styles.module.css
  frontend/src/bundles/studio/components/timeline/timeaxis/styles.module.css
  frontend/src/bundles/studio/components/timeline/timeaxis/timeaxis.tsx
  frontend/src/bundles/studio/components/timeline/timecursor/styles.module.css
  frontend/src/bundles/studio/components/timeline/timecursor/timecursor.tsx
  frontend/src/bundles/studio/components/video-menu/components/menu/menu.tsx
  frontend/src/bundles/studio/components/video-menu/components/menu/styles.module.css
  frontend/src/bundles/studio/pages/studio.tsx
  frontend/src/framework/theme/styles/css-modules/timeline.module.css
Labels: FE

#84 OV-60: Add files API
  backend/src/bundles/files/constants/constants.ts
  backend/src/bundles/files/enums/enums.ts
  backend/src/bundles/files/enums/files-message.ts
  backend/src/bundles/files/file-management.service.ts
  backend/src/bundles/files/file.entity.ts
  backend/src/bundles/files/file.model.ts
  backend/src/bundles/files/file.repository.ts
  backend/src/bundles/files/files.ts
  backend/src/bundles/files/types/types.ts
  backend/src/common/database/enums/database-table-name.enum.ts
  backend/src/common/services/file/file.service.ts
  backend/src/migrations/20240825181542_create_files_table.ts
  shared/src/framework/http/enums/http-code.enum.ts
Labels: BE

#245 OV-233: Add endpoint to get video by userId
  backend/src/bundles/videos/types/types.ts
  backend/src/bundles/videos/video.controller.ts
  backend/src/bundles/videos/video.repository.ts
  backend/src/bundles/videos/video.service.ts
Labels: BE

#266 OV-254: add request to generate avatar
  frontend/src/bundles/studio/avatar-videos-api.ts
  frontend/src/bundles/studio/components/video-menu/components/menu-content/avatars-content/avatars-content.tsx
  frontend/src/bundles/studio/components/video-menu/components/menu-content/avatars-content/components/avatar-card.tsx
  frontend/src/bundles/studio/constants/constants.ts
  frontend/src/bundles/studio/constants/min-scene-duration.constant.ts
  frontend/src/bundles/studio/constants/min-script-duration.constant.ts
  frontend/src/bundles/studio/constants/script-and-avatar-are-required.constant.ts
  frontend/src/bundles/studio/constants/skip-to-previous-scene-threshold.constant.ts
  frontend/src/bundles/studio/constants/video-submit-failed-id.constant.ts
  frontend/src/bundles/studio/constants/video-submit-notification-id.constant.ts
  frontend/src/bundles/studio/enums/enums.ts
  frontend/src/bundles/studio/enums/notification-message.enum.ts
  frontend/src/bundles/studio/enums/notification-title.enum.ts
  frontend/src/bundles/studio/pages/studio.tsx
  frontend/src/bundles/studio/store/actions.ts
  frontend/src/bundles/studio/store/slice.ts
  frontend/src/bundles/studio/store/studio.ts
  frontend/src/bundles/studio/studio.ts
  frontend/src/bundles/studio/types/scene.type.ts
  frontend/src/bundles/studio/types/types.ts
  frontend/src/framework/store/store.package.ts
  shared/src/bundles/avatars/enums/avatars-api-path.enum.ts
Labels: FE

#242 OV-232: Make timeline resize on extra items
  frontend/src/bundles/studio/components/timeline/timeaxis/styles.module.css
  frontend/src/bundles/studio/components/timeline/timecursor/styles.module.css
  frontend/src/bundles/studio/components/timeline/timeline.tsx
  frontend/src/bundles/studio/helpers/get-total-time.ts
  frontend/src/bundles/studio/helpers/helpers.ts
  frontend/src/bundles/studio/pages/studio.tsx
  frontend/src/bundles/studio/store/slice.ts
Labels: FE

#247 OV-237: Add style to timecursor and update refresh rate
  frontend/src/bundles/studio/components/timeline/timecursor/styles.module.css
  frontend/src/bundles/studio/components/timeline/timecursor/timecursor.tsx
Labels: FE

#228 OV-144: Add Script Generation For Videos
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/components/generate-script-form/generate-script-form.tsx
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/components/generate-script-placeholder-content/generate-script-placeholder-content.tsx
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/components/generate-script-placeholder-content/styles.module.css
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/components/generate-script-placeholder/generate-script-placeholder.tsx
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/components/generate-script-placeholder/styles.module.css
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/components/generate-script-scene/generate-script-scene.tsx
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/components/generate-script-scene/styles.module.css
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/components/generate-script-view/generate-script-view.tsx
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/components/generate-script-view/styles.module.css
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/helpers/generate-script-message-template/generate-script-message-template.ts
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/helpers/helpers.ts
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/helpers/sanitize-json-string/sanitize-json-string.ts
  frontend/src/bundles/common/components/video-modal/video-modal.tsx
  frontend/src/bundles/common/types/types.ts
  frontend/src/bundles/common/types/video-script.type.ts
  frontend/src/framework/theme/styles/components.styles.ts
Labels: FE

#269 OV-268: fix player
  frontend/src/bundles/studio/components/video/video.tsx
Labels: FE

#265 OV-257: Fetch user videos
  frontend/src/bundles/home/components/main-content/main-content.tsx
  frontend/src/bundles/home/components/video-card/video-card.tsx
  frontend/src/bundles/home/components/video-section/video-section.tsx
  frontend/src/bundles/home/enums/enums.ts
  frontend/src/bundles/home/home.ts
  frontend/src/bundles/home/store/actions.ts
  frontend/src/bundles/home/store/home.ts
  frontend/src/bundles/home/store/slice.ts
  frontend/src/bundles/home/types/types.ts
  frontend/src/bundles/home/types/video.type.ts
  frontend/src/bundles/home/videos-api.ts
  frontend/src/framework/store/store.package.ts
Labels: FE

#270 OV-212: Add scripts and avatars from timeline
  frontend/src/bundles/studio/components/constants/constants.ts
  frontend/src/bundles/studio/components/timeline/rows/scenes-row.tsx
  frontend/src/bundles/studio/components/timeline/rows/scripts-row.tsx
  frontend/src/bundles/studio/components/timeline/timecursor/styles.module.css
  frontend/src/bundles/studio/components/timeline/timeline.tsx
  frontend/src/bundles/studio/components/video-menu/components/menu-body/menu-body.tsx
  frontend/src/bundles/studio/components/video-menu/components/menu-content/script-content/script-content.tsx
  frontend/src/bundles/studio/components/video-menu/components/menu/menu.tsx
  frontend/src/bundles/studio/components/video-menu/types/active-item.type.ts
  frontend/src/bundles/studio/components/video-menu/types/menu-item.type.ts
  frontend/src/bundles/studio/components/video-menu/types/types.ts
  frontend/src/bundles/studio/components/video-menu/video-menu.tsx
  frontend/src/bundles/studio/enums/enums.ts
  frontend/src/bundles/studio/enums/menu-items.enum.ts
  frontend/src/bundles/studio/enums/row-names.enum.ts
  frontend/src/bundles/studio/helpers/get-element-end.ts
  frontend/src/bundles/studio/store/slice.ts
Labels: FE

#285 OV-281: Fix misaligned logo
  frontend/src/bundles/common/components/logo/logo.tsx
Labels: BUG, FE

#310 OV-308: Add player modal
  frontend/src/bundles/chat/pages/chat-modal.tsx
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/modal/modal.tsx
  frontend/src/bundles/common/components/modal/styles.module.css
  frontend/src/bundles/common/components/upload-video/components/components.ts
  frontend/src/bundles/common/components/upload-video/styles.module.css
  frontend/src/bundles/common/components/upload-video/upload-video.tsx
  frontend/src/bundles/common/components/video-modal/video-modal.tsx
  frontend/src/bundles/common/components/video-player/components/components.ts
  frontend/src/bundles/common/components/video-player/components/control/control.tsx
  frontend/src/bundles/common/components/video-player/components/control/libs/constants/constants.ts
  frontend/src/bundles/common/components/video-player/components/control/libs/constants/max-percent.ts
  frontend/src/bundles/common/components/video-player/components/control/libs/constants/max-volume.ts
  frontend/src/bundles/common/components/video-player/components/control/libs/constants/min-volume.ts
  frontend/src/bundles/common/components/video-player/components/control/libs/enums/enums.ts
  frontend/src/bundles/common/components/video-player/components/control/libs/enums/video-event.ts
  frontend/src/bundles/common/components/video-player/components/control/libs/helpers/get-time.ts
  frontend/src/bundles/common/components/video-player/components/control/libs/helpers/helpers.ts
  frontend/src/bundles/common/components/video-player/components/video/user-video.tsx
  frontend/src/bundles/common/components/video-player/libs/enums/enums.ts
  frontend/src/bundles/common/components/video-player/libs/enums/error-id.ts
  frontend/src/bundles/common/components/video-player/libs/enums/error-message.ts
  frontend/src/bundles/common/components/video-player/libs/enums/error-title.ts
  frontend/src/bundles/common/components/video-player/libs/types/player-options.ts
  frontend/src/bundles/common/components/video-player/libs/types/types.ts
  frontend/src/bundles/common/components/video-player/libs/types/video-duration.type.ts
  frontend/src/bundles/common/components/video-player/video-player.tsx
  frontend/src/bundles/common/constants/constants.ts
  frontend/src/bundles/common/constants/fps.constant.ts
  frontend/src/bundles/common/types/types.ts
  frontend/src/bundles/home/components/player-modal/player-modal.tsx
  frontend/src/bundles/home/components/player-modal/style.module.css
  frontend/src/bundles/home/components/video-card/styles.module.css
  frontend/src/bundles/home/components/video-card/video-card.tsx
  frontend/src/bundles/studio/components/timeline/timecursor/timecursor.tsx
  frontend/src/bundles/studio/components/video/video.tsx
Labels: FE

#304 OV-291: Add video name
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/studio/pages/studio.tsx
  frontend/src/bundles/studio/pages/styles.module.css
  frontend/src/bundles/studio/store/slice.ts
Labels: FE

#240 OV-205: Add voices modal
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/video-modal/video-modal.tsx
  frontend/src/bundles/studio/components/control/control.tsx
  frontend/src/bundles/studio/components/video-menu/components/menu-content/script-content/components/components.ts
  frontend/src/bundles/studio/components/video-menu/components/menu-content/script-content/components/script.tsx
  frontend/src/bundles/studio/components/video-menu/components/menu-content/script-content/components/voices-modal/components/styles.module.css
  frontend/src/bundles/studio/components/video-menu/components/menu-content/script-content/components/voices-modal/components/voice-card.tsx
  frontend/src/bundles/studio/components/video-menu/components/menu-content/script-content/components/voices-modal/components/voices-modal-content.tsx
  frontend/src/bundles/studio/components/video-menu/components/menu-content/script-content/components/voices-modal/voices-modal.tsx
  frontend/src/bundles/studio/components/video-menu/components/menu-content/script-content/script-content.tsx
  frontend/src/bundles/studio/components/video-menu/components/mock/voices-mock.ts
  frontend/src/bundles/studio/pages/studio.tsx
  frontend/src/bundles/studio/store/slice.ts
  frontend/src/bundles/studio/types/script.type.ts
  frontend/src/bundles/studio/types/types.ts
  frontend/src/bundles/users/components/user-card/user-card.tsx
  frontend/src/framework/theme/styles/components.styles.ts
  shared/src/bundles/speech/speech.ts
  shared/src/bundles/speech/types/types.ts
  shared/src/index.ts
Labels: FE

#306 OV-305: Set total duration by scripts
  frontend/src/bundles/studio/store/selectors.ts
Labels: FE

#303 OV-277: Fix scripts layout
  frontend/src/bundles/studio/components/video-menu/components/menu-body/styles.module.css
Labels: BUG, FE

#299 OV-278: Fix color background sidebar items
  frontend/src/bundles/common/components/sidebar/components/sidebar-item/sidebar-item.tsx
  frontend/src/bundles/common/components/sidebar/sidebar.tsx
Labels: BUG, FE

#293 OV-282: Fix video-section height
  frontend/src/bundles/home/components/main-content/main-content.tsx
  frontend/src/bundles/home/components/main-content/styles.module.css
Labels: BUG, FE

#309 OV-294: Add video ending cursor
  frontend/src/bundles/studio/components/timeline/components.ts
  frontend/src/bundles/studio/components/timeline/timeline-view/timeline-view.tsx
  frontend/src/bundles/studio/components/timeline/video-ending-cursor/styles.module.css
  frontend/src/bundles/studio/components/timeline/video-ending-cursor/video-ending-cursor.tsx
Labels: FE

#286 OV-252: Add delete method to AWS fileService
  backend/src/common/services/file/file.service.ts
Labels: BE

#296 OV-295: Reset store when user leaves studio page
  frontend/src/bundles/studio/components/video-menu/components/mock/menu-mock.tsx
  frontend/src/bundles/studio/pages/studio.tsx
  frontend/src/bundles/studio/store/actions.ts
  frontend/src/bundles/studio/store/slice.ts
Labels: FE

#319 OV-312: Fix logo color
  frontend/src/assets/img/avatar.png
  frontend/src/assets/img/logo-text.svg
  frontend/src/assets/img/logo.svg
  frontend/src/assets/img/react.svg
  frontend/src/bundles/auth/components/common/form-header/styles.module.css
  frontend/src/bundles/chat/components/chat-body/chat-body.tsx
  frontend/src/bundles/common/components/header/styles.module.css
  frontend/src/bundles/common/components/loader/loader.tsx
  frontend/src/bundles/common/components/logo/logo.tsx
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/components/generate-script-placeholder/generate-script-placeholder.tsx
  frontend/src/bundles/common/icons/custom-icons/custom-icons.ts
  frontend/src/bundles/common/icons/custom-icons/logo-text.tsx
  frontend/src/bundles/common/icons/custom-icons/logo.tsx
  frontend/src/bundles/common/icons/icon-name.ts
Labels: FE

#324 OV-313: Change player background to grey
  frontend/src/bundles/common/components/player/player.tsx
  frontend/src/bundles/studio/components/video/styles.module.css
Labels: BUG, FE

#297 OV-283: modify videos table
  backend/src/bundles/avatar-videos/avatar-videos.service.ts
  backend/src/bundles/videos/video.entity.ts
  backend/src/bundles/videos/video.model.ts
  backend/src/bundles/videos/video.repository.ts
  backend/src/migrations/20240913090355_add_composition_and_preview_url_fields_to_videos_table.ts
  frontend/src/bundles/home/components/video-card/video-card.tsx
  shared/src/bundles/videos/types/create-video-request-dto.type.ts
  shared/src/bundles/videos/types/video-get-all-item-response-dto.type.ts
Labels: BE

#317 OV-301: Sync voices BE and FE
  frontend/src/bundles/studio/components/video-menu/components/menu-content/script-content/components/voices-modal/components/styles.module.css
  frontend/src/bundles/studio/components/video-menu/components/menu-content/script-content/components/voices-modal/components/voices-modal-content.tsx
  frontend/src/bundles/studio/components/video-menu/components/menu-content/script-content/components/voices-modal/voices-modal.tsx
  frontend/src/bundles/studio/components/video-menu/components/menu-content/script-content/script-content.tsx
  frontend/src/bundles/studio/components/video-menu/components/mock/voices-mock.ts
  frontend/src/bundles/studio/constants/constants.ts
  frontend/src/bundles/studio/constants/default-voice-name.constant.ts
  frontend/src/bundles/studio/pages/studio.tsx
  frontend/src/bundles/studio/store/actions.ts
  frontend/src/bundles/studio/store/slice.ts
  frontend/src/bundles/studio/store/studio.ts
  frontend/src/bundles/studio/types/script.type.ts
Labels: FE

#280 OV-60: Update add files api
  backend/src/bundles/files/constants/constants.ts
  backend/src/bundles/files/enums/enums.ts
  backend/src/bundles/files/enums/files-message.ts
  backend/src/bundles/files/file-management.service.ts
  backend/src/bundles/files/file.entity.ts
  backend/src/bundles/files/file.model.ts
  backend/src/bundles/files/file.repository.ts
  backend/src/bundles/files/files.ts
  backend/src/bundles/files/types/types.ts
  backend/src/common/database/enums/database-table-name.enum.ts
  backend/src/common/services/file/file.service.ts
  backend/src/migrations/20240912085530_create_files_table.ts
  shared/src/framework/http/enums/http-code.enum.ts
Labels: BE

#300 OV-249: + add delete button to scenes and scripts
  frontend/src/bundles/studio/components/timeline/item/item.tsx
  frontend/src/bundles/studio/components/timeline/rows/scenes-row.tsx
  frontend/src/bundles/studio/components/timeline/rows/scripts-row.tsx
  frontend/src/bundles/studio/components/timeline/rows/styles.module.css
  frontend/src/bundles/studio/components/timeline/timeline.tsx
  frontend/src/bundles/studio/constants/constants.ts
  frontend/src/bundles/studio/constants/dnd-activation-distance-pixels.constant.ts
  frontend/src/bundles/studio/store/slice.ts
  frontend/src/framework/theme/styles/components.styles.ts
Labels: FE

#333 OV-321: Send request to tts for voices modal
  frontend/src/bundles/studio/components/audio-player/audio-player.tsx
  frontend/src/bundles/studio/components/video-menu/components/menu-content/script-content/components/script.tsx
  frontend/src/bundles/studio/components/video-menu/components/menu-content/script-content/components/voices-modal/components/voice-card.tsx
  frontend/src/bundles/studio/components/video-menu/components/menu-content/script-content/components/voices-modal/components/voices-modal-content.tsx
  frontend/src/bundles/studio/components/video-menu/components/menu-content/script-content/script-content.tsx
  frontend/src/bundles/studio/pages/studio.tsx
  frontend/src/bundles/studio/store/actions.ts
  frontend/src/bundles/studio/store/slice.ts
  frontend/src/bundles/studio/store/studio.ts
  frontend/src/bundles/studio/types/script.type.ts
Labels: FE

#167 OV-140: Adapt sidebar to mobile devices
  frontend/src/bundles/auth/store/slice.ts
  frontend/src/bundles/common/components/sidebar/constants/constants.ts
  frontend/src/bundles/common/components/sidebar/helpers/helpers.ts
  frontend/src/bundles/common/components/sidebar/hooks/use-collapse.hook.ts
  frontend/src/bundles/common/components/sidebar/sidebar.tsx
  frontend/src/bundles/my-avatar/components/create-avatar/create-avatar.tsx
  frontend/src/bundles/my-avatar/pages/my-avatar.tsx
  frontend/src/framework/storage/enums/storage-key.enum.ts
  frontend/src/framework/storage/storage.package.ts
  frontend/src/framework/storage/types/storage-key.type.ts
  frontend/src/framework/storage/types/types.ts
Labels: FE

#203 OV-147: Create create avatar page
  frontend/src/bundles/auth/components/common/form-header/form-header.module.css
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/header/header.module.css
  frontend/src/bundles/common/components/sidebar/sidebar.module.css
  frontend/src/bundles/common/components/upload-video/components/video-player/components/control/libs/hooks/hooks.ts
  frontend/src/bundles/common/components/upload-video/components/video-player/components/control/libs/hooks/use-animation-frame.ts
  frontend/src/bundles/common/components/video-modal/video-modal.module.css
  frontend/src/bundles/common/enums/app-route.enum.ts
  frontend/src/bundles/common/icons/icon-name.ts
  frontend/src/bundles/create-avatar/components/components.ts
  frontend/src/bundles/create-avatar/components/instruction-list/instruction-list.tsx
  frontend/src/bundles/create-avatar/components/instruction-list/styles.module.css
  frontend/src/bundles/create-avatar/components/instruction/instruction.tsx
  frontend/src/bundles/create-avatar/components/instruction/styles.module.css
  frontend/src/bundles/create-avatar/pages/create-avatar.tsx
  frontend/src/bundles/create-avatar/pages/styles.module.css
  frontend/src/bundles/my-avatar/components/create-avatar/create-avatar.tsx
  frontend/src/bundles/studio/components/player-controls/components/control/control.tsx
  frontend/src/bundles/studio/components/video-menu/components/menu/menu.module.css
  frontend/src/routes/routes.tsx
Labels: FE

#323 OV-201: Open script tab and select script on script click on timeline
  frontend/src/bundles/studio/components/video-menu/components/menu-content/script-content/components/script.tsx
  frontend/src/bundles/studio/components/video-menu/video-menu.tsx
  frontend/src/bundles/studio/store/slice.ts
Labels: FE

#330 OV-328: Make bigger video holder
  frontend/src/bundles/common/components/player/styles/landscape.style.ts
  frontend/src/bundles/common/components/player/styles/portrait.style.ts
Labels: FE

#332 OV-326: Close Video Menu Studio Page When Click Outside
  frontend/src/bundles/common/enums/dom-event.ts
  frontend/src/bundles/common/enums/enums.ts
  frontend/src/bundles/studio/components/video-menu/components/menu-body/menu-body.tsx
Labels: FE

#292 OV-276: Add delete button for videos
  backend/src/bundles/videos/video.service.ts
  backend/src/bundles/videos/videos.ts
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/icons/icon-name.ts
  frontend/src/bundles/home/components/video-card/components/components.ts
  frontend/src/bundles/home/components/video-card/components/delete-warning.tsx
  frontend/src/bundles/home/components/video-card/video-card.tsx
  frontend/src/bundles/home/components/video-section/video-section.tsx
  frontend/src/bundles/home/store/actions.ts
  frontend/src/bundles/home/store/home.ts
  frontend/src/bundles/home/store/slice.ts
  frontend/src/bundles/home/videos-api.ts
  frontend/src/framework/theme/styles/colors.styles.ts
  frontend/src/framework/theme/styles/components.styles.ts
Labels: BE, FE

#337 OV-335: Rename css classes from camel case to kebab case
  frontend/src/bundles/auth/components/common/form-header/form-header.module.css
  frontend/src/bundles/auth/components/common/form-header/styles.module.css
  frontend/src/bundles/common/components/header/header.module.css
  frontend/src/bundles/common/components/sidebar/components/sidebar-item/sidebar-item.tsx
  frontend/src/bundles/common/components/sidebar/sidebar.module.css
  frontend/src/bundles/common/components/sidebar/sidebar.tsx
  frontend/src/bundles/common/components/sidebar/styles.module.css
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/components/generate-script-form/generate-script-form.tsx
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/components/generate-script-form/styles.module.css
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/components/generate-script-placeholder-content/generate-script-placeholder-content.tsx
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/components/generate-script-placeholder-content/styles.module.css
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/components/generate-script-placeholder/generate-script-placeholder.tsx
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/components/generate-script-placeholder/styles.module.css
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/components/generate-script-view/generate-script-view.tsx
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/components/generate-script-view/styles.module.css
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/components/video-preview/styles.module.css
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/components/video-preview/video-preview.tsx
  frontend/src/bundles/studio/components/timeline/timeaxis/styles.module.css
  frontend/src/bundles/studio/components/timeline/timeaxis/timeaxis.tsx
  frontend/src/bundles/studio/components/timeline/timecursor/styles.module.css
  frontend/src/bundles/studio/components/timeline/timecursor/timecursor.tsx
  frontend/src/bundles/studio/components/video-menu/components/menu/menu.tsx
  frontend/src/bundles/studio/components/video-menu/components/menu/styles.module.css
  frontend/src/bundles/studio/pages/studio.tsx
  frontend/src/bundles/studio/pages/styles.module.css
Labels: FE

#325 OV-314: Change menu body height and position so it does not cover the timeline
  frontend/src/bundles/studio/components/video-menu/components/menu-body/styles.module.css
Labels: BUG, FE

#338 OV-329: Center Resize video
  frontend/src/bundles/common/components/header/header.tsx
  frontend/src/bundles/common/components/header/styles.module.css
Labels: FE

#344 OV-327: Fix sidebar expand button
  frontend/src/bundles/common/components/logo/logo.tsx
Labels: BUG, FE

#356 OV-350: Add draft tag
  frontend/src/bundles/home/components/video-card/styles.module.css
  frontend/src/bundles/home/components/video-card/video-card.tsx
Labels: FE

#361 OV-351: Add delete button on draft videos
  frontend/src/bundles/home/components/video-card/video-card.tsx
Labels: FE

#342 OV-181: Add new migrations to update email field max length to 320
  backend/src/migrations/20240815120000_update_email_length.ts
Labels: BUG, BE

#363 OV-346: Show creation date and duration in video details
  backend/src/bundles/videos/video.entity.ts
  frontend/src/bundles/home/components/video-card/video-card.tsx
  shared/src/bundles/videos/types/video-get-all-item-response-dto.type.ts
Labels: FE

#340 OV-287: Add horizontal scroll in timeline
  frontend/src/bundles/studio/components/timeline/timeaxis/timeaxis.tsx
  frontend/src/bundles/studio/components/timeline/timeline-view/timeline-view.tsx
  frontend/src/bundles/studio/constants/add-button-padding-milliseconds.ts
  frontend/src/bundles/studio/constants/constants.ts
  frontend/src/bundles/studio/constants/grow-coefficient.ts
  frontend/src/bundles/studio/constants/max-scenes-before-resize.ts
  frontend/src/bundles/studio/helpers/get-total-time.ts
  frontend/src/bundles/studio/store/slice.ts
Labels: FE

#364 OV-348: Create warning modal
  frontend/src/bundles/common/icons/icon-name.ts
  frontend/src/bundles/studio/components/components.ts
  frontend/src/bundles/studio/components/warning-modal/components/components.ts
  frontend/src/bundles/studio/components/warning-modal/components/warning-content.tsx
  frontend/src/bundles/studio/components/warning-modal/warning-modal.tsx
Labels: FE

#362 OV-322: add remotion render
  backend/.env.example
  backend/package.json
  backend/src/bundles/avatar-videos/avatar-videos.controller.ts
  backend/src/bundles/avatar-videos/avatar-videos.service.ts
  backend/src/bundles/avatar-videos/avatar-videos.ts
  backend/src/bundles/avatar-videos/constants/constnats.ts
  backend/src/bundles/avatar-videos/constants/fps.ts
  backend/src/bundles/avatar-videos/helpers/generated-avatars-to-remotion-scenes.helper.ts
  backend/src/bundles/avatar-videos/helpers/get-total-duration.helper.ts
  backend/src/bundles/avatar-videos/helpers/helpers.ts
  backend/src/bundles/avatar-videos/services/script-processor.service.ts
  backend/src/bundles/avatar-videos/types/generated-avatar.type.ts
  backend/src/bundles/avatar-videos/types/types.ts
  backend/src/common/config/base-config.package.ts
  backend/src/common/config/types/environment-schema.type.ts
  backend/src/common/services/remotion/constants/codec.constant.ts
  backend/src/common/services/remotion/constants/composition-id.constant.ts
  backend/src/common/services/remotion/constants/constants.ts
  backend/src/common/services/remotion/constants/request-delay.constant.ts
  backend/src/common/services/remotion/remotion.service.ts
  backend/src/common/services/remotion/type/input-properties.ts
  backend/src/common/services/remotion/type/remotion-avatar-scene.ts
  backend/src/common/services/remotion/type/types.ts
  backend/src/common/services/services.ts
  frontend/src/remotion/composition/main.jsx
  frontend/src/remotion/index.js
  frontend/src/remotion/root.jsx
  package-lock.json
Labels: BE, FE

#267 OV-204: Fetch voices and save them to store
  frontend/src/bundles/studio/components/audio-player/audio-player.tsx
  frontend/src/bundles/studio/components/video-menu/components/menu-content/script-content/components/script.tsx
  frontend/src/bundles/studio/components/video-menu/components/menu-content/script-content/components/voices-modal/components/styles.module.css
  frontend/src/bundles/studio/components/video-menu/components/menu-content/script-content/components/voices-modal/components/voice-card.tsx
  frontend/src/bundles/studio/components/video-menu/components/menu-content/script-content/components/voices-modal/components/voices-modal-content.tsx
  frontend/src/bundles/studio/components/video-menu/components/menu-content/script-content/components/voices-modal/voices-modal.tsx
  frontend/src/bundles/studio/components/video-menu/components/menu-content/script-content/script-content.tsx
  frontend/src/bundles/studio/components/video-menu/components/mock/voices-mock.ts
  frontend/src/bundles/studio/constants/constants.ts
  frontend/src/bundles/studio/constants/default-voice-name.constant.ts
  frontend/src/bundles/studio/helpers/get-voices-configs.helper.ts
  frontend/src/bundles/studio/pages/studio.tsx
  frontend/src/bundles/studio/speech-api.ts
  frontend/src/bundles/studio/store/actions.ts
  frontend/src/bundles/studio/store/slice.ts
  frontend/src/bundles/studio/store/studio.ts
  frontend/src/bundles/studio/types/script.type.ts
  frontend/src/bundles/studio/types/types.ts
Labels: FE

#367 OV-366: * package.json
  backend/package.json
  package-lock.json
Labels: BE

#371 OV-370: * package.json
  backend/package.json
  frontend/package.json
  package-lock.json
Labels: FE

#372 OV-354: Update script duration after play click
  frontend/src/bundles/studio/components/player-controls/player-controls.tsx
  frontend/src/bundles/studio/store/actions.ts
  frontend/src/bundles/studio/store/slice.ts
Labels: FE

#343 OV-311: Save video draft
  backend/src/bundles/avatar-videos/avatar-videos.controller.ts
  backend/src/bundles/avatar-videos/avatar-videos.service.ts
  backend/src/bundles/videos/video.repository.ts
  frontend/src/bundles/common/api/api.ts
  frontend/src/bundles/common/api/video-api/enums/enums.ts
  frontend/src/bundles/common/api/video-api/types/types.ts
  frontend/src/bundles/common/api/video-api/videos-api.ts
  frontend/src/bundles/common/icons/icon-name.ts
  frontend/src/bundles/common/middlewares/draft.middleware.ts
  frontend/src/bundles/common/middlewares/middlewares.ts
  frontend/src/bundles/home/components/video-card/styles.module.css
  frontend/src/bundles/home/components/video-card/video-card.tsx
  frontend/src/bundles/home/types/types.ts
  frontend/src/bundles/studio/components/components.ts
  frontend/src/bundles/studio/components/video-name-input/styles.module.css
  frontend/src/bundles/studio/components/video-name-input/video-name-input.tsx
  frontend/src/bundles/studio/constants/constants.ts
  frontend/src/bundles/studio/constants/default-video-name.ts
  frontend/src/bundles/studio/constants/video-save-failed-notification-id.ts
  frontend/src/bundles/studio/constants/video-save-notification-id.ts
  frontend/src/bundles/studio/enums/notification-message.enum.ts
  frontend/src/bundles/studio/enums/notification-title.enum.ts
  frontend/src/bundles/studio/pages/studio.tsx
  frontend/src/bundles/studio/store/actions.ts
  frontend/src/bundles/studio/store/slice.ts
  frontend/src/bundles/studio/store/studio.ts
  frontend/src/bundles/studio/types/types.ts
  frontend/src/framework/store/store.package.ts
  shared/src/bundles/avatar-videos/types/render-avatar-request-dto.type.ts
  shared/src/bundles/avatar-videos/validation-schemas/render-avatar-video.validation-schema.ts
Labels: FE

#376 OV-355: * fix script duration for submit
  frontend/src/bundles/studio/pages/studio.tsx
  frontend/src/bundles/studio/store/actions.ts
Labels: FE

#334 OV-326: Close Menu Body when click outside, but also when click out…
  frontend/src/bundles/chat/pages/chat-modal.tsx
  frontend/src/bundles/common/components/modal/modal.tsx
  frontend/src/bundles/studio/components/video-menu/components/menu-body/menu-body.tsx
  frontend/src/bundles/studio/components/video-menu/components/menu-content/script-content/components/voices-modal/voices-modal.tsx
  frontend/src/bundles/studio/components/video-menu/components/menu-content/script-content/script-content.tsx
  frontend/src/bundles/studio/components/video-menu/video-menu.tsx
Labels: FE

#386 OV-384: render background
  backend/src/bundles/avatar-videos/avatar-videos.controller.ts
  backend/src/bundles/avatar-videos/avatar-videos.service.ts
  backend/src/bundles/avatar-videos/constants/request-delay.constant.ts
  backend/src/bundles/avatar-videos/helpers/distribute-scripts-to-scenes.helper.ts
  backend/src/bundles/avatar-videos/helpers/generated-avatars-to-remotion-scenes.helper.ts
  backend/src/bundles/avatar-videos/services/script-processor.service.ts
  backend/src/bundles/avatar-videos/types/generated-avatar.type.ts
  backend/src/bundles/avatar-videos/types/scene-for-render-avatar.type.ts
  backend/src/bundles/avatar-videos/types/scene-with-generated-avatar.type.ts
  backend/src/bundles/avatar-videos/types/types.ts
  backend/src/common/services/remotion/type/remotion-avatar-scene.ts
  backend/src/common/services/remotion/type/types.ts
  frontend/src/remotion/composition/main.jsx
  frontend/src/remotion/composition/styles.module.css
  shared/src/bundles/avatar-videos/avatar-videos.ts
  shared/src/bundles/avatar-videos/enum/avatar-video-validation-message.enum.ts
  shared/src/bundles/avatar-videos/types/scene-background.type.ts
  shared/src/bundles/avatar-videos/types/scene.type.ts
  shared/src/bundles/avatar-videos/types/types.ts
  shared/src/bundles/avatar-videos/validation-schemas/render-avatar-video.validation-schema.ts
  shared/src/index.ts
Labels: BE

#390 OV-389: * schema
  shared/src/bundles/avatar-videos/validation-schemas/render-avatar-video.validation-schema.ts
Labels: BE

#383 OV-382: set the player's duration using scripts
  frontend/src/bundles/common/components/player/player.tsx
Labels: FE

#392 OV-385: Fix GTP writer displays JSON format instead readeble text
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/components/video-preview/video-preview.tsx
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/video-modal-content.tsx
  frontend/src/bundles/common/components/video-modal/video-modal.tsx
Labels: BUG, FE

#331 OV-258: Fix error message when redirected to sign in page with expired token
  frontend/src/bundles/auth/components/common/components.ts
  frontend/src/bundles/auth/components/common/form-error/form-error.tsx
  frontend/src/bundles/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/framework/theme/styles/components.styles.ts
Labels: BUG, FE

#379 OV-378: fix download video
  backend/src/bundles/avatar-videos/avatar-videos.service.ts
  backend/src/common/services/remotion/constants/constants.ts
  backend/src/common/services/remotion/constants/download-behavior.constant.ts
  backend/src/common/services/remotion/constants/downloaded-file-name.constant.ts
  backend/src/common/services/remotion/remotion.service.ts
Labels: BE

#400 OV-399: Add horizontal scroll to recent videos
  frontend/src/bundles/home/components/main-content/main-content.tsx
  frontend/src/bundles/home/components/video-section/styles.module.css
  frontend/src/bundles/home/components/video-section/video-section.tsx
  frontend/src/bundles/home/enums/video-gallery.ts
  frontend/src/bundles/home/pages/home.tsx
Labels: FE

#380 OV-349: Add warning modal when the scenes exceed the scripts
  frontend/src/bundles/studio/helpers/helpers.ts
  frontend/src/bundles/studio/helpers/scenes-exceed-scripts.ts
  frontend/src/bundles/studio/pages/studio.tsx
Labels: FE

#320 OV-275: Add Socket Notifications For Video Ready
  backend/package.json
  backend/src/bundles/avatar-videos/avatar-videos.service.ts
  backend/src/common/constants/constants.ts
  backend/src/common/constants/socket-trasnport.constants.ts
  backend/src/common/enums/avatar-video-event.enum.ts
  backend/src/common/enums/enums.ts
  backend/src/common/enums/socket-event.enum.ts
  backend/src/common/server-application/base-server-app.ts
  backend/src/common/server-application/socket-application.ts
  backend/src/common/socket/scoket-event.ts
  backend/src/common/socket/socket.ts
  frontend/package.json
  frontend/src/bundles/common/constants/constants.ts
  frontend/src/bundles/common/constants/socket-trasnport.constants.ts
  frontend/src/bundles/common/context/socket.ts
  frontend/src/bundles/common/enums/avatar-video-event.enum.ts
  frontend/src/bundles/common/enums/enums.ts
  frontend/src/bundles/common/hooks/hooks.ts
  frontend/src/bundles/home/components/main-content/main-content.tsx
  frontend/src/bundles/home/constants/constants.ts
  frontend/src/bundles/home/constants/video-render-failed-notification-id.constant.ts
  frontend/src/bundles/home/constants/video-render-success-notification-id.constant.ts
  frontend/src/bundles/home/enums/enums.ts
  frontend/src/bundles/home/enums/notification-message.enum.ts
  frontend/src/bundles/home/enums/notification-title.enum.ts
  frontend/src/index.tsx
  package-lock.json
Labels: BE, FE

#419 OV-401: Fix script scroll
  frontend/src/bundles/studio/components/video-menu/components/menu-content/script-content/components/script.tsx
  frontend/src/bundles/studio/components/video-menu/components/menu-content/script-content/components/styles.module.css
Labels: FE

#417 OV-415: Do not delete scene on resize
  frontend/src/bundles/studio/components/timeline/timeline.tsx
  frontend/src/bundles/studio/constants/constants.ts
  frontend/src/bundles/studio/constants/default-scene-duration.constant.ts
  frontend/src/bundles/studio/constants/default-script-duration.constant.ts
  frontend/src/bundles/studio/constants/min-scene-duration.constant.ts
  frontend/src/bundles/studio/constants/min-script-duration.constant.ts
  frontend/src/bundles/studio/store/slice.ts
Labels: FE

#422 OV-396: add logic for generating portrait view
  backend/src/bundles/avatar-videos/avatar-videos.controller.ts
  backend/src/bundles/avatar-videos/avatar-videos.service.ts
  backend/src/bundles/avatar-videos/avatar-videos.ts
  backend/src/bundles/avatar-videos/scenes.service.ts
  backend/src/bundles/avatar-videos/types/composition-with-generated-avatar.type.ts
  backend/src/bundles/avatar-videos/types/composition-with-remotion-scenes.type.ts
  backend/src/bundles/avatar-videos/types/composition-with-scenes-for-rendering.type.ts
  backend/src/bundles/avatar-videos/types/types.ts
  frontend/src/bundles/studio/pages/studio.tsx
  frontend/src/bundles/studio/store/actions.ts
  frontend/src/remotion/composition/constants/constants.js
  frontend/src/remotion/composition/constants/fps.constant.js
  frontend/src/remotion/composition/constants/height-landscape.constant.js
  frontend/src/remotion/composition/constants/height-portrait.js
  frontend/src/remotion/composition/constants/minimal-duration-in-frames.constant.js
  frontend/src/remotion/composition/constants/width-landscape.constant.js
  frontend/src/remotion/composition/constants/width-portrait.constant.js
  frontend/src/remotion/composition/enums/enums.js
  frontend/src/remotion/composition/enums/video-orientation.enum.js
  frontend/src/remotion/composition/main.jsx
  frontend/src/remotion/composition/styles.module.css
  frontend/src/remotion/root.jsx
  shared/src/bundles/avatar-videos/types/composition.type.ts
  shared/src/bundles/avatar-videos/types/video-orientation.type.ts
  shared/src/bundles/avatar-videos/validation-schemas/render-avatar-video.validation-schema.ts
  shared/src/bundles/videos/validation-schemas/create-video.validation-schema.ts
Labels: BE, FE

#409 OV-407: Limit the video title to one line
  frontend/src/bundles/home/components/video-card/styles.module.css
  frontend/src/bundles/home/components/video-card/video-card.tsx
Labels: FE

#434 OV-416: Generate Script with AI dont returns json to view
  frontend/src/bundles/chat/helpers/helpers.ts
  frontend/src/bundles/chat/helpers/sanitize-json-string.ts
  frontend/src/bundles/chat/store/slice.ts
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/components/generate-script-placeholder/generate-script-placeholder.tsx
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/components/generate-script-view/generate-script-view.tsx
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/helpers/generate-script-message-template.ts
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/helpers/helpers.ts
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/helpers/sanitize-json-string.ts
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/helpers/sanitize-json-string/sanitize-json-string.ts
  frontend/src/bundles/common/constants/constants.ts
  shared/src/constants/constants.ts
  shared/src/constants/last-element-index.constant.ts
  shared/src/index.ts
Labels: BUG, FE

#435 OV-425: Recent videos should appear order by createdAt
  frontend/src/bundles/home/components/main-content/main-content.tsx
Labels: BUG, FE

#398 OV-397: + initial qa docs
  tests/docs/authorization/authorization-pages.md
  tests/postman/environments/outreachvids-env.postman_environment.json
  tests/postman/sign-up.postman_collection.json
Labels: QA

#70 OV-61: Add Stepper
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/header/header.tsx
  frontend/src/bundles/common/components/stepper/components/components.ts
  frontend/src/bundles/common/components/stepper/components/step-status/step-status.tsx
  frontend/src/bundles/common/components/stepper/components/step-status/styles.module.css
  frontend/src/bundles/common/components/stepper/enums/enums.ts
  frontend/src/bundles/common/components/stepper/enums/step-status.enum.ts
  frontend/src/bundles/common/components/stepper/stepper.tsx
  frontend/src/bundles/common/components/stepper/styles.module.css
  frontend/src/bundles/common/icons/helper/icon-conversion.helper.ts
  frontend/src/bundles/common/icons/icon-name.ts
  frontend/src/framework/theme/styles/components.styles.ts
Labels: FE

#395 OV-391: add logic to delete video
  backend/src/bundles/videos/video.service.ts
  backend/src/bundles/videos/videos.ts
  backend/src/common/services/remotion/remotion.service.ts
Labels: BE

#428 OV-424: Error when selecting background before avatar
  frontend/src/bundles/studio/components/video/styles.module.css
  frontend/src/bundles/studio/components/video/video.tsx
Labels: BUG, FE

#381 OV-347: Connect Generate Script With Studio Page
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/components/generate-script-placeholder/generate-script-placeholder.tsx
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/components/generate-script-placeholder/styles.module.css
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/components/generate-script-scene/generate-script-scene.tsx
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/components/generate-script-scene/styles.module.css
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/components/generate-script-view/generate-script-view.tsx
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/helpers/helpers.ts
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/helpers/sanitize-json-string.ts
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/video-modal-content.tsx
  frontend/src/bundles/common/constants/constants.ts
  frontend/src/bundles/studio/components/video-menu/video-menu.tsx
  frontend/src/bundles/studio/helpers/add-scene.ts
  frontend/src/bundles/studio/helpers/add-script.ts
  frontend/src/bundles/studio/helpers/create-default-avatar.ts
  frontend/src/bundles/studio/helpers/helpers.ts
  frontend/src/bundles/studio/pages/studio.tsx
  frontend/src/bundles/studio/store/slice.ts
  frontend/src/bundles/studio/types/add-scene-request.type.ts
  frontend/src/bundles/studio/types/add-scene-response.type.ts
  frontend/src/bundles/studio/types/add-script-request.type.ts
  frontend/src/bundles/studio/types/add-script-response.type.ts
  frontend/src/bundles/studio/types/select-item.type.ts
  frontend/src/bundles/studio/types/types.ts
  shared/src/constants/constants.ts
  shared/src/constants/first-index.constant.ts
  shared/src/constants/last-index-offset.constant.ts
  shared/src/index.ts
Labels: FE

#436 OV-423: Generate preview with background
  backend/package.json
  backend/src/bundles/videos/types/types.ts
  backend/src/bundles/videos/video.repository.ts
  backend/src/bundles/videos/video.service.ts
  backend/src/bundles/videos/videos.ts
  backend/src/common/services/image/constants/constants.ts
  backend/src/common/services/image/image-base.ts
  backend/src/common/services/image/image.service.ts
  backend/src/common/services/image/image.ts
  backend/src/common/services/image/types/types.ts
  backend/src/common/services/services.ts
  package-lock.json
  shared/src/enums/content-type.enum.ts
Labels: BE

#446 OV-411: The selected scene should overlap others when stretched
  frontend/src/bundles/studio/components/timeline/item/item.tsx
Labels: FE

#449 OV-445: validate scenes
  backend/src/bundles/avatar-videos/services/script-processor.service.ts
  frontend/src/bundles/studio/helpers/are-all-scenes-with-scenes.helper.ts
  frontend/src/bundles/studio/helpers/helpers.ts
  frontend/src/bundles/studio/pages/studio.tsx
Labels: BE, FE

#440 OV-405: Create templates page
  frontend/src/bundles/common/components/button/button.tsx
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/input/input.tsx
  frontend/src/bundles/common/components/select/select.tsx
  frontend/src/bundles/common/components/sidebar/sidebar.tsx
  frontend/src/bundles/common/enums/app-route.enum.ts
  frontend/src/bundles/common/hooks/use-app-form/use-app-form.hook.ts
  frontend/src/bundles/common/icons/helper/icon-conversion.helper.ts
  frontend/src/bundles/common/icons/icon-name.ts
  frontend/src/bundles/template/components/components.ts
  frontend/src/bundles/template/components/creations-section/creations-section.tsx
  frontend/src/bundles/template/components/creations-section/styles.module.css
  frontend/src/bundles/template/components/template-card/styles.module.css
  frontend/src/bundles/template/components/template-card/template-card.tsx
  frontend/src/bundles/template/components/templates-section/constants.ts
  frontend/src/bundles/template/components/templates-section/styles.module.css
  frontend/src/bundles/template/components/templates-section/templates-section.tsx
  frontend/src/bundles/template/pages/styles.module.css
  frontend/src/bundles/template/pages/templates.tsx
  frontend/src/bundles/template/types/template.type.ts
  frontend/src/bundles/template/types/types.ts
  frontend/src/routes/routes.tsx
Labels: FE, MERGE CONFLICTS

#442 OV-439: generate preview for templates
  backend/src/bundles/templates/templates.service.ts
  backend/src/bundles/templates/templates.ts
  backend/src/seed-data/templates-seed.ts
Labels: BE

#438 OV-403: Create voices page
  frontend/package.json
  frontend/src/bundles/common/components/audio-player/audio-player.tsx
  frontend/src/bundles/common/components/audio-player/constants/constants.ts
  frontend/src/bundles/common/components/audio-player/enums/audio-event.ts
  frontend/src/bundles/common/components/audio-player/enums/enums.ts
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/sidebar/sidebar.tsx
  frontend/src/bundles/common/enums/app-route.enum.ts
  frontend/src/bundles/common/icons/custom-icons/custom-icons.ts
  frontend/src/bundles/common/icons/custom-icons/voice.tsx
  frontend/src/bundles/common/icons/helper/icon-conversion.helper.ts
  frontend/src/bundles/common/icons/icon-name.ts
  frontend/src/bundles/home/store/actions.ts
  frontend/src/bundles/home/store/home.ts
  frontend/src/bundles/home/store/slice.ts
  frontend/src/bundles/home/types/types.ts
  frontend/src/bundles/home/types/voice.type.ts
  frontend/src/bundles/studio/components/control/control.tsx
  frontend/src/bundles/studio/components/player-controls/player-controls.tsx
  frontend/src/bundles/studio/pages/studio.tsx
  frontend/src/bundles/voices/components/components.ts
  frontend/src/bundles/voices/components/main-content/main-content.tsx
  frontend/src/bundles/voices/components/main-content/styles.module.css
  frontend/src/bundles/voices/components/voice-card/voice-card.tsx
  frontend/src/bundles/voices/components/voice-section/styles.module.css
  frontend/src/bundles/voices/components/voice-section/voice-section.tsx
  frontend/src/bundles/voices/constants/constants.ts
  frontend/src/bundles/voices/constants/text-for-voices.constant.ts
  frontend/src/bundles/voices/enums/voices-sections.ts
  frontend/src/bundles/voices/pages/voices.tsx
  frontend/src/routes/routes.tsx
  package-lock.json
Labels: FE

#448 OV-412: Fix timeline scroll
  frontend/src/bundles/studio/components/timeline/timeline-view/timeline-view.tsx
  frontend/src/bundles/studio/pages/studio.tsx
  frontend/src/bundles/studio/pages/styles.module.css
Labels: FE

#433 OV-369: Implement create avatar flow
  frontend/src/bundles/common/components/stepper/stepper.tsx
  frontend/src/bundles/common/components/upload-video/upload-video.tsx
  frontend/src/bundles/create-avatar/components/components.ts
  frontend/src/bundles/create-avatar/components/consent/styles.module.css
  frontend/src/bundles/create-avatar/components/instruction/instruction.tsx
  frontend/src/bundles/create-avatar/components/instruction/styles.module.css
  frontend/src/bundles/create-avatar/enums/steps.ts
  frontend/src/bundles/create-avatar/pages/create-avatar.tsx
  frontend/src/bundles/create-avatar/pages/styles.module.css
Labels: FE

#450 OV-402: Create avatars page
  frontend/src/bundles/ai-avatars/components/avatar-card/avatar-card.tsx
  frontend/src/bundles/ai-avatars/components/avatars-section/avatars-section.tsx
  frontend/src/bundles/ai-avatars/components/avatars/avatars.tsx
  frontend/src/bundles/ai-avatars/components/components.ts
  frontend/src/bundles/ai-avatars/constants/constants.ts
  frontend/src/bundles/ai-avatars/helpers/avatars-mapper.helper.ts
  frontend/src/bundles/ai-avatars/helpers/capital-case.helper.ts
  frontend/src/bundles/ai-avatars/helpers/helpers.ts
  frontend/src/bundles/ai-avatars/hooks/use-filter-avatar-style.hook.ts
  frontend/src/bundles/ai-avatars/pages/ai-avatars.tsx
  frontend/src/bundles/ai-avatars/types/avatar-mapped.ts
  frontend/src/bundles/ai-avatars/types/types.ts
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/select/select.tsx
  frontend/src/bundles/common/components/sidebar/sidebar.tsx
  frontend/src/bundles/common/enums/app-route.enum.ts
  frontend/src/bundles/common/icons/helper/icon-conversion.helper.ts
  frontend/src/bundles/common/icons/icon-name.ts
  frontend/src/bundles/studio/store/slice.ts
  frontend/src/framework/theme/styles/colors.styles.ts
  frontend/src/routes/routes.tsx
  shared/src/bundles/avatars/types/avatar-get-response-dto.type.ts
Labels: FE

#459 OV-0: + jwt logs
  backend/src/bundles/videos/video.service.ts
  frontend/src/bundles/common/api/public-video-api/public-videos-api.ts
  frontend/src/bundles/preview/components/preview-wrapper.tsx
Labels: BE, FE

#458 OV-456: fix styles
  backend/src/bundles/public-video/public-video.controller.ts
  backend/src/bundles/videos/video.repository.ts
  backend/src/common/constants/white-routes.constants.ts
  backend/src/common/services/token/token.services.ts
  frontend/src/bundles/ai-avatars/components/avatar-card/avatar-card.tsx
  frontend/src/bundles/ai-avatars/components/avatars-section/avatars-section.tsx
  frontend/src/bundles/ai-avatars/components/avatars-section/styles.module.css
  frontend/src/bundles/chat/pages/chat-modal.tsx
  frontend/src/bundles/common/components/header/header.tsx
  frontend/src/bundles/common/components/video-modal/components/video-modal-content/components/generate-script-view/generate-script-view.tsx
  frontend/src/bundles/create-avatar/components/consent/consent.tsx
  frontend/src/bundles/home/components/video-card/video-card.tsx
  frontend/src/bundles/home/components/video-section/styles.module.css
  frontend/src/bundles/home/components/video-section/video-section.tsx
  frontend/src/bundles/preview/components/preview-wrapper.tsx
  frontend/src/bundles/template/components/template-card/template-card.tsx
  frontend/src/bundles/template/components/templates-section/styles.module.css
  frontend/src/bundles/template/components/templates-section/templates-section.tsx
  frontend/src/bundles/voices/components/voice-section/styles.module.css
  frontend/src/bundles/voices/components/voice-section/voice-section.tsx
Labels: FE
